@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss/theme";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@config "../tailwind.config.js";

#root {
  width: 100vw;
  height: 100vh;
  /* background: radial-gradient(#5a47ce, #232323 80%); */
  /* background-image: url("/images/background4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background: transparent;
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
}